@model E_Shop.ViewModels.ProductViewModels.DetailsProductViewModel

@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="@Url.Action("Index", "Home")">Главная</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="@Url.Action("Index", "Catalog")">Категории</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="@Url.Action("Products", "Catalog", new { id = Model.CategoryId })">@Model.CategoryName</a>
                </li>
                <li class="breadcrumb-item active">@Model.Name</li>
            </ol>
        </nav>
    </div>
</div>
<div class="products">
    <div class=" product__item " data-id="@Model.ProductId">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-md-5">
                    <div class="product-display m-0">
                        <img class="w-100" id="bigImage" src="data:image/jpeg;base64, @Convert.ToBase64String(Model.Images.First())" alt="@Model.Name">
                    </div>

                    @if (Model.Images.Count > 1)
                    {
                        <div class="row m-0">
                            @foreach (var item in Model.Images)
                            {
                                <a class="product-img col-6 col-sm-4 col-xl-3 d-flex align-items-center">
                                    <img class="w-100" src="data:image/jpeg;base64, @Convert.ToBase64String(item)" alt="@Model.Name" />
                                </a>
                            }
                        </div>
                    }
                </div>

                <div class="col col-md-7">
                    <div class="product-title product__name">@Model.Name</div>
                    <div class="product-rating ">
                        @for (var i = 2; i <= 10; i += 2)
                        {
                            if (Model.ReviewCount == 0 || Model.Rating - i < -1)
                            {
                                <i class="far fa-star small"></i>
                            }
                            else if (Model.Rating - i >= 0)
                            {
                                <i class="fa fa-star small"></i>
                            }
                            else if (Model.Rating - i >= -1)
                            {
                                <i class="fas fa-star-half-alt small"></i>
                            }

                        }

                        (оценок: @Model.ReviewCount)
                    </div>

                    <div class="product-price">
                        @if (Model.OldPrice != 0)
                        {
                            <span class="old-price">@Model.OldPrice грн</span>
                            <span class="new-price p-1 product__price">@Model.Price грн</span>
                        }
                        else
                        {
                            <span class="price product__price">@Model.Price грн</span>
                        }
                    </div>
                    @if (Model.Quantity > 0)
                    {
                        <div class="product-stock in-stock">
                            В наличии
                        </div>
                        <div class="btn-group">
                            <a href="#cart-notification" class="btn btn-success add-to-cart my-3" data-id="@Model.ProductId">
                                В корзину
                            </a>
                        </div>
                    }
                    else
                    {
                        <div class="product-stock out-of-stock">
                            Нет в наличии
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="col-md-12 pt-5 px-0">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item col-4 p-0 text-center">
                        <a class="nav-link active" id="description-tab" data-toggle="tab" href="#description" role="tab" aria-controls="description" aria-selected="true">Описание</a>
                    </li>
                    <li class="nav-item col-4 p-0 text-center">
                        <a class="nav-link" id="characteristics-tab" data-toggle="tab" href="#characteristics" role="tab" aria-controls="characteristics" aria-selected="false">Характеристики</a>
                    </li>
                    <li class="nav-item col-4 p-0 text-center">
                        <a class="nav-link" id="reviews-tab" data-toggle="tab" href="#reviews" role="tab" aria-controls="reviews" aria-selected="false">Отзывы</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <section class="tab-pane fade show active p-2" id="description" role="tabpanel" aria-labelledby="description-tab">
                        @Html.Raw(Model.Description)
                    </section>
                    <section class="tab-pane fade" id="characteristics" role="tabpanel" aria-labelledby="characteristics-tab">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>Гарантия</td>
                                    <td class="text-right">@Model.Warranty</td>
                                </tr>
                                @foreach (var characteristic in Model.Characteristics)
                                {
                                    <tr>
                                        <td>@characteristic.Key</td>
                                        <td class="text-right">@characteristic.Value</td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </section>
                    <section class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
                        <div class="d-flex flex-wrap">
                            <div class="col-12 col-lg-8">
                                @Html.HiddenFor(x => x.ProductId, Model.ProductId)
                                <div id="productReviews"></div>
                            </div>
                            <div class="col-12 col-lg-4">
                                <h3 class="text-center">Оставить отзыв</h3>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    if (Model.CanAddReview)
                                    {
                                        @Html.Partial("~/Views/Review/_ReviewForm.cshtml", Model.NewReview)
                                    }
                                    else
                                    {
                                        <p class="text-center">Вы уже оставили отзыв</p>
                                    }
                                }
                                else
                                {
                                    <p>Эта функция доступна только пользователям сайта <a href="@Url.Action("Login", "Account")" class="btn-link">Войдите</a> или <a href="@Url.Action("Register", "Account")" class="btn-link">Зарегистрируйтесь</a></p>
                                }
                            </div>
                        </div>
                    </section>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}