@model E_Shop.Areas.Admin.ViewModels.SupplyViewModels.IndexSupplyViewModel

@{
    ViewBag.Title = "Поставки";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="d-flex justify-content-between align-items-center my-3">
    <h2>@ViewBag.Title</h2>
    @Html.ActionLink("Добавить", "Create", null, new { @class = "btn btn-primary" })
</div>

@using (Ajax.BeginForm("GetSupplies", new AjaxOptions { UpdateTargetId = "supplies" }))
{
    <div class="form-group d-flex align-items-center">
        @Html.LabelFor(x => x.CurrentSupplier, "Поставщик", new { @class = "col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("supplierId", Model.Suppliers, "Все", new { @class = "form-control", id = "ajaxSelectSubmit" })
        </div>
    </div>

    <div id="supplies">
        @Html.Partial("_Supplies", Model.Supplies)
    </div>
}

@section scripts
{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}